/* Global Styles  */
* { 
  box-sizing: border-box;
} 

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background-image:url(../images/baked-doodle.png);
  }

header {
  text-align: center;
  padding-top: 10px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 fit-content;
  align-content: center;

}

footer {
  min-height: 20px;
  padding: 20px;

}

h1, 
h2, 
h3, 
h4 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  padding-left: 12px;
}

/* Contact form */
.contact-form {
  min-width: 350px;
  object-position: center;
  padding-left: 20px;
  padding-right: 20px;
}

input,
textarea {
  font-weight: 300; 
  width: 100%;
  border: none;
  padding: 15px;
  margin-bottom: 1%;
  border-radius: 10px;
  background-color: #E8DDFF;
}



/*Links*/
a:visited {
  color: purple;
}
a:hover {
  color: #6633ff;
}
  
 
  
/* Class Styles */
footer .copyright {
  margin-right: 20px;
  font-size: .75em;
}

/* .main-nav, 
.nav,
.nav-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
} */

.nav-logo {
  max-width: 175px;
  max-height: 175px;
}
  
.main-nav li {
  list-style: none;
  margin: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
  
.nav a {
  box-shadow: 2px white;
  inset: 5px white;
  font-size: 1.2em;    
  background-color: #7f36d5;
  color: white;
  padding: 5px 10px;
  margin: 10px 5px;
  border-radius: 5px;
  flex-direction: row;
  /* max-width: 105px; */
  text-decoration: none;
  flex-wrap: wrap;
}
   
.body {
  padding: 3px 15px;
  margin: auto;
}

.treat {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  display: none;
}

.menu-note {
  font-size: .9em;
  margin: 0;

}

ul .menu-items{
  padding: 0;
}

/* Image Carousel */
.carousel {
  text-align: center;
  padding: auto;
  width: 300px;
  height: 300px;

}




/* MEDIA QUERIES */
@media (min-width: 600px){
  /* 769px or wider */
  .main-nav, 
  .nav,
  .nav-logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .col1,
  .col3 {
    display: flex;
    flex-direction: column;
    flex-flow: row;
    
  }
.menu1,
.menu2,
.menu3,
.menu4 {
  display: flexbox;
}

.contact-form {
  max-width: 350px;
  object-position: center;
  margin-left: 30%;
  margin-right: 10px;

}
}



@media (min-width: 1000px){
  /* 1000px or wider */
  .main-nav, 
  .nav {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }
  .contact-form {
    max-width: 350px;
    object-position: center;
    margin-left: 30%;
    margin-right: 10px;
  }
}


