/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
    
 
  body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    }


  header {
    background: linear-gradient(to bottom, gray, white);
    /* width: 100%; */
    margin: 0;
    padding: 0;

  }

  h1, 
  h2, 
  h3 {
    font-family: 'Amatic SC', cursive;
  }

  /*Links*/
  
  a:visited {
    color: white;
  }
  a:hover {
    color: #6633ff;
  }
  
  /* Section Styles */
  
  /* .main-nav {
    display: flex;
    text-align: center;
  } */

  .nav-logo {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  flex-grow: 1;
}
  
  .main-nav li {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    box-shadow: 2px 2px 5px 2px white;
    inset: 5px white;
    font-size: 2em;    
    background-color: #7f36d5;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    list-style: none; 
}
  
 
  .nav a {
    color: white
  }
  
  header {
    text-align: center;
    padding-top: 10px;
  }
  header {
    line-height: 1.5;
  }
 
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
    background: linear-gradient(to bottom, white, gray);
  }
  
  footer .copyright {
    top: -8px;
    margin-right: 20px;
    font-size: .75em;
  }
  
  /* .footer {
    background-color: gray;  
    color: white;
  } */
    
.carousel {
  align-content: center;
  padding: 2px;
}

  /* MEDIA QUERIES */
@media (max-width: 795px){
  /* 795px or smaller */

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.img {
  display: none;
/* image disappears in small windows */
}


@media (min-width: 796px){
  /* 796px or larger */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  } */

@media (min-width: 1025px){
  /* 1025 px or larger */
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    } */