/* UNIVERSAL STYLING*/
* { 
  box-sizing: border-box;
} 

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image:url(../images/baked-doodle.png);
  }

header {
  text-align: center;
  padding-top: 10px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

h1, 
h2, 
h3, 
h4 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

footer .copyright {
  font-size: .75em;
}


/*CONTACT FORM*/
.contact-form {
  max-width: 350px;
  object-position: center;
  margin-left: 20%;
  margin-right: 20%;
}

input,
textarea {
  font-weight: 300; 
  /* width: 100%; */
  border: none;
  padding: 15px;
  margin-bottom: 1%;
  border-radius: 10px;
  background-color: #E8DDFF;
}

.fieldWidth { 
  width: 100%;
}



/*LINK STYLING*/
a:visited {
  color: purple;
}
a:hover {
  color: #6633ff;
}
  
 
  
/*NAV STYLING*/
.nav-logo {
  max-width: 175px;
  max-height: 175px;
}
  
.main-nav li {
  list-style: none;
  margin: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
  
.nav a {
  box-shadow: 2px white;
  inset: 5px white;
  font-size: 1.2em;    
  background-color: #7f36d5;
  color: white;
  padding: 5px 10px;
  margin: 10px 5px;
  border-radius: 5px;
  flex-direction: row;
  text-decoration: none;
}


/* MENU PAGE STYLING*/
.treat {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  object-position: center;
}

.menu-note {
  font-size: .9em;
  margin: 0;
}

ul .menu-items{
  padding: 0;
  margin: 0;
}

.menu-header {
  margin-bottom: 0;
}

/*IMAGE CAROUSEL*/
.carousel {
  text-align: center;
  padding: auto;
  width: 300px;
  height: 300px;
}



/*MEDIA QUERIES*/
@media (max-width: 699px) {
  .treat {
    display: none;
  }
}


@media (min-width: 700px){
  /* 700px or wider */
  .main-nav, 
  .nav,
  .nav-logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .col1,
  .col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

  .grid {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
  }

}



@media (min-width: 1000px){
  /* 1000px or wider */
  .main-nav, 
  .nav {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }
  
}


